@{
  Layout = "_Layout";
}

@using ToDoList.Models;
@model List<ToDoList.Models.Item>;

<h1>Items</h1>

@if (@Model.Count == 0)
{
  <h3>No items have been added yet!</h3>
}

@foreach (Item item in Model)
{
  @if (item.Status == true)
  {
    <li>@Html.ActionLink($"{item.Description}", "Details", new { id = item.ItemId })<a
    href="/items/@item.ItemId/statusIncomplete"><span class="done"> X</span></a>
    </li>
  }
  else
  {
    <li>@Html.ActionLink($"{item.Description}", "Details", new { id = item.ItemId })<a href="/items/@item.ItemId/statusComplete"><span class="notDone"> ✓</span></a>
    </li>

  }
}


<p>@Html.ActionLink("Add new item", "Create")</p>